<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img class="logo-img" src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.16699 15.5H25.8337" stroke="white" stroke-width="1.66667" stroke-linecap="round"
        stroke-linejoin="round" />
    <path d="M5.16699 7.75H25.8337" stroke="white" stroke-width="1.66667" stroke-linecap="round"
        stroke-linejoin="round" />
    <path d="M5.16699 23.25H25.8337" stroke="white" stroke-width="1.66667" stroke-linecap="round"
        stroke-linejoin="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#who">Manifesto</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#features">Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#titles">Dev Log</a>
                </li>
            </ul>
        </nav>
        <a class="download-link-desk"
            href="https://store.steampowered.com/">
            <img src="/img/header/steam.png" alt="steam" loading="lazy">
            <p>Get on Google Play</p>
        </a>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#who">Manifesto</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#features">Game</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#titles">Dev Log</a>
        </li>
    </ul>
    <a class="download-link" href="https://store.steampowered.com/">
        <img src="/img/header/steam.png" alt="steam" loading="lazy">
        <p>Wishlist on Steam</p>
    </a>
</div>