body{
  background: #0a0b0d;
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
h2{
  font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #b03c15;
    margin-bottom: 16px;
}
h3{
  font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}
@media only screen and (min-width: 1440px) {
  body{
font-size: 18px;
  line-height: 1.625;
  }
  h2{
    font-size: 20px;
    margin-bottom: 32px;
  }
  h3{
font-size: 56px;
  line-height: 1.14286;
  letter-spacing: -0.04em;
margin-bottom: 16px;
  }
}